extends base

block content
    main.w3-row(style='padding-left:0;')
        //- .w3-container.w3-light-gray.w3-padding(style='width:100%;padding-left:0%')     
        //-     .w3-cell-row.w3-margin-top.w3-center(style='width:30%;')
        //-         a.w3-btn.w3-cell.bt.btn--green.user-create(href='/create-user' style='font-size: 1.6rem;padding: 1.4rem 3rem;text-transform: uppercase;') Create New User             
        .w3-container.w3-light-gray.w3-padding(style='width:100%;padding-left:0%')
            each user in users
                    .w3-container.w3-margin-bottom.w3-margin-top(class='w3-col m6 l4',style='margin-left:0.0%;')
                        .w3-card(style='width:100%')
                        .card__header
                            .card__picture
                                
                                img.card__picture-img(src=`img/users/${user.photo}`, alt=`${user.name}`)
                            h3.heading-tertirary
                                span= user.name

                        .card__details
                            h4.card__sub-heading= `Role: ${user.role}  ` 
                            p.card__text= `${user.email}`
                            input#user-id(type="hidden" value=`${user.id}`)

                        .w3-cell-row
                            a.w3-cell.bt.w3-margin.w3-btn.btn--green(href=`/update-user/${user._id}`,class='w3-hide-small',style='font-size: 1.6rem;padding: 1.4rem 3rem;text-transform: uppercase;') Edit
                            a.w3-cell.btw3-margin.w3-btn.btn--green.user-delete(data-user-id =`${user._id}`,class='w3-hide-small ',style='font-size: 1.6rem;padding: 1.4rem 3rem;text-transform: uppercase;background-color: #444;') Delete
                        .w3-cell-row(style='width:100%;padding:2%')
                            a.w3-cell.bt.w3-btn.btn--green(href=`/update-user/${user._id}`,class='w3-hide-large w3-hide-medium',style='font-size: 1.6rem;width:') Edit
                            a.w3-cell.bt.w3-btn.btn--green.suser-delete(data-review-id =`${user._id}`,class='w3-hide-large w3-hide-medium',style='font-size: 1.6rem;background-color: #444;') Delete
        